<md-list-item>
	<md-content md-with-hover class="tabset__content md-elevation-2" :class="{ 'md-elevation-6': isHovered }" @mouseenter="isHovered = true" @mouseleave="isHovered = false">
		<md-list class="tabs__list">
			<div style="height: 60px; padding-top:5px">
				<span class="md-title tabset__name md-list-item-text" :class="{ hide__tabset__title: nameIsEditing && !tabset.locked }" 
				@click.prevent="startEditingTabsetName"> 
					{{ tabset.tabsetName || tabset.id }}
				</span>
				
				<md-field md-inline :md-counter="false" class="tabsetname__input" :class="{ hide__input: !nameIsEditing || tabset.locked }">
			      <md-input ref="tabsetNameInput" maxlength=50 v-model="tabsetName" @blur.native="saveTabsetName" @keyup.esc="cancelEditing" 
			      			@keyup.enter="saveTabsetName" v-autowidth="{maxWidth: '960px', minWidth: '20px', comfortZone: 0}">
			      	
			      </md-input>
			    </md-field>

				<span class="md-caption created__at md-list-item-text">Created at {{ tabset.createdAt.toLocaleString() }}</span>
				<i class="md-raised lock__open material-icons" @click="toggleLock">
					{{ tabset.locked ? "lock" : "lock_open" }}
				</i>
			</div>
			<md-divider></md-divider>
			<TabComponent v-for="tab in tabset.tabs" :key="tab.id" :lockedTabset="tabset.locked" :tab="tab" :tabsetID="tabset.id"/>
<!-- 			<div class="control__button">
				<md-button class="md-raised md-primary" v-bind:disabled="tabset.locked">Restore tabset</md-button>
				<md-button class="md-raised md-accent" v-bind:disabled="tabset.locked" @click="deleteTabset">Delete tabset</md-button>
			</div>
 -->
		</md-list>
	</md-content>
</md-list-item>